{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/carousel-page.css') }}" rel="stylesheet">
    <link href="{{ asset('css/media-queries/carousel-page_responsive.css') }}" rel="stylesheet">
{% endblock %}
{% block body %}
<body>
{% if main_img is defined %}
<div class="main_img" style="background-image: url('uploads/indexImages/{{ main_img }}')">
    <div class="main_img_text display-none">
        Wojciech Foit
    </div>
</div>
{% endif %}
{% set length = images|length + 1%}
{% set count = 2 %}
<div id="carousel" class="carousel display-none" data-ride="carousel" data-interval="false" data-keyboard="false">
    <div class="carousel-inner">
        <div class="carousel-item active" data-count="1">
          <img src="/uploads/images/{{ first.category.name }}/{{ first.image }}" alt="First slide">
        </div>
        {% for image in images %}
              <div class="carousel-item" data-count="{{ count }}">
                <img src="/uploads/images/{{ image.category.name }}/{{ image.image }}" alt="">
              </div>
          {% set count = count + 1 %}
        {% endfor %}

    </div>
    <p id="counter">1 / {{ length }}</p>
  <a class="carousel-control-prev control" href="#carousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"><i class="fas fa-caret-left fa-2x arrow-icon"></i></span>
  </a>
  <a class="carousel-control-next control" href="#carousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"><i class="fas fa-caret-right fa-2x arrow-icon"></i></span>
  </a>
</div>


</body>
{% endblock %}
{% block js %}
    {{ parent() }}
    <script src="{{ asset('js/carousel-page.js') }}"></script>
    <script>
        {% if main_img is defined %}
        var src = $('.main_img').css('background-image');
        var url = src.match(/\((.*?)\)/)[1].replace(/('|")/g, '');

        var img = new Image();
        img.onload = function () {
            $('.main_img_text').fadeIn();
        };
        img.src = url;
        if (img.complete) {
            img.onload();
        }
        $('.main_img').on('click', function () {
            $(this).fadeOut();
            $('#carousel').fadeIn();
            $('#main-nav').fadeIn();
            $('#footer').fadeIn();
        });
        {% else %}
        $('#carousel').fadeIn();
        $('#main-nav').fadeIn();
        $('#footer').fadeIn();
        {% endif %}
    </script>
{% endblock %}