{% extends 'base.html.twig' %}
{% block stylesheets %}
{{ parent() }}
<link href="{{ asset('css/grid-page.css') }}" rel="stylesheet">
<link href="{{ asset('css/media-queries/grid-page_responsive.css') }}" rel="stylesheet">
{% endblock %}
{% block body %}
    <div class="grid">
        {% for photoshoot in photoshoots %}
            <div class="grid-item">
                <a href="/uploads/images/{{ photoshoot.id }}/{{ photoshoot.images.shiftU.image }}" data-fancybox="{{ photoshoot.slug }}">
                  <span class="caption">
                    <span class="caption-text">
                      {{ photoshoot.title }}
                    </span>
                  </span>
                    <img class="img" src="/uploads/images/{{ photoshoot.id }}/{{ photoshoot.images.shift.image }}" alt="">
                </a>
                <div class="display-none carousel-caption-text">
                    {{ photoshoot.title }}
                </div>
                <div class="display-none" id="portfolio-item-{{ photoshoot.id }}">

                    {% for image in photoshoot.images %}
                        <a href="/uploads/images/{{ photoshoot.id }}/{{ image.image }}" data-fancybox="{{ photoshoot.slug }}">
                            <img class="img-photoshoot" src="/uploads/images/{{ photoshoot.id }}/{{ image.image }}" alt="">
                        </a>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
{#    <div class="portfolio-wrapper">#}
{#        {% for photoshoot in photoshoots %}#}
{#            <div class="portfolio-item">#}
{#                <a href="/uploads/images/{{ photoshoot.id }}/{{ photoshoot.images.shiftU.image }}" data-fancybox="{{ photoshoot.slug }}">#}
{#                    <span class="caption">#}
{#                        <span class="caption-text">#}
{#                            {{ photoshoot.title }}#}
{#                        </span>#}
{#                    </span>#}
{#                    <img class="img" src="/uploads/images/{{ photoshoot.id }}/{{ photoshoot.images.shift.image }}" alt="">#}
{#                </a>#}
{#                <div class="display-none" id="portfolio-item-{{ photoshoot.id }}">#}
{#                    {% for image in photoshoot.images %}#}
{#                        <a href="/uploads/images/{{ photoshoot.id }}/{{ image.image }}" data-fancybox="{{ photoshoot.slug }}">#}
{#                            <img class="img-photoshoot" src="/uploads/images/{{ photoshoot.id }}/{{ image.image }}" alt="">#}
{#                        </a>#}
{#                    {% endfor %}#}
{#                </div>#}
{#            </div>#}
{#        {% endfor %}#}
{#    </div>#}

{% endblock %}
{% block js %}
    {{ parent() }}
    <script src="{{ asset('js/grid-page.js') }}"></script>
    <script>

        $('#carousel').fadeIn();
        // $('#main-nav').fadeIn();
        // $('#footer').fadeIn();

    </script>
{% endblock %}
